.slick-dots {
  margin-top: 20px; /* Adjust the margin to control spacing */
  text-align: justify;
}

.slick-dots li button:before {
  margin-top: 10px;
  font-size: 12px; /* Adjust the dot size */
  color: whitesmoke; /* Adjust the dot color */
}

.slick-dots li.slick-active button:before {
  color: #f97316; /* Highlight the active dot */
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 1s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.slick-dots {
  margin-top: 20px;
  text-align: center;
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-down {
  animation: fadeDown 1s ease-out forwards;
}

.fade-left {
  animation: fadeLeft 1s ease-out forwards;
}

.fade-right {
  animation: fadeRight 1s ease-out forwards;
}

.vision-bg{
  background-color: rgb(54, 179, 126) !important;
}